.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(77, 74, 74);
}

.header__logo {
    font-size: 40px !important;
    color: red;
    margin-left: 20px;
}

.header__left {
    display: flex;
    align-items: center;
}


.header h1 {
    color: white;
}

.icons {
    color: white;
    margin-right: 20px;
    font-size: 30px !important;
    cursor: pointer;
}

.header__input {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 50%;
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__input > input {
    flex: 1;
    border: none;
    font-size: large;
    height: 30px;
    background-color: #181818;
    color: white;
}

.header__inputbutton {
    color: gray;
    width: 70px !important;
    height: 32.5px !important;
    background-color: #121212;
    border-left: 1px solid gray;
}

.header__input > input:focus {
    outline: none;
    color: white;
}