.recommendedvideos {
    flex: 0.8;
    margin-top: 10px;
    background-color: #535050;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 0;
}

.recommendedvideos > h1 {
    margin-left: 5px;
    margin-bottom: 20px;
}